.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: rgb(230, 230, 230);
}

.contenedor{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea {
    border: none; /* Quitamos el borde predeterminado */
    border-top: 3px solid rgb(230, 230, 230); /* Agregamos un borde superior de 1 píxel y color deseado */
    margin: 20px 0; /* Ajusta el margen superior e inferior según desees */
    width: 80%; /* Asegura que ocupe todo el ancho disponible */
    border-radius: 20px;
}

.formulario{
    background-color:rgb(230, 230, 230);
}

.cajas{
    display: flex;
    flex-direction: column;
}

.letras{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #231d1e;
}


